{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
    $('#formDoiMK').validate({
      rules: {
        oldPass: {
          required: true
        },
        newPass: {
          required: true,
          minlength: 6
        },
        confirm: {
          required: true,
          equalTo: $('[name="newPass"]')
        }
      },
      messages: {
        oldPass: {
          required: '&emsp;&emsp;&emsp;Nhập mật khẩu cũ'
        },
        newPass: {
          required: '&emsp;&emsp;&emsp;Yêu cầu nhập password.',
          minlength: '&emsp;&emsp;&emsp;Mật khẩu của bạn ít nhất 6 kí tự.'
        },
        confirm: {
          required: '&emsp;&emsp;&emsp;Nhập lại Password.',
          equalTo: '&emsp;&emsp;&emsp;Password không giống nhau.'
        }

      },

      errorElement: 'small',
      errorClass: 'col help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }

    });
  })
</script>
{{/section}}

<Form method="POST" id="formDoiMK" action="/account/doimatkhau">
  <div class="col-md-7" style=";margin-left: 300px; margin-top: 100px">
    <div class="an-shadow m-5 bg-white rounded">
      <div class="p-2">
        <div
          style="height: 45px; text-align: center; border-bottom:1px solid rgb(202, 202, 202);color: rgb(0, 0, 0);">
          <h4 class="modal-title"><b>Thay Đổi Mật Khẩu</b></h4>
        </div>
        <div style="margin :10px 30px;">
          <div style="display:flex; flex-direction:column">
            <label style="width:100%;"><b>Mật khẩu cũ:</b> </label>
            <input name="oldPass" style=" width:100%" class="form-control" type="password">
          </div>
          <br>
          <div style="display:flex; flex-direction:column">
            <label style="width:100%"><b>Mật khẩu mới:</b> </label>
            <input name="newPass" style="width:100%" class="form-control" type="password">
          </div>
          <br>
          <div style="display:flex; flex-direction:column">
            <label style="width:100%"><b>Nhập lại mật khẩu mới:</b> </label>
            <input name="confirm" style="width:100%" class="form-control" type="password">
          </div>
        </div>
        <div class="text-center" style="color:red">
          {{#if saiPass}}
          <label>Mật khẩu cũ không chính xác</label>
          {{/if}}
          {{#if dungPass}}
          <label for="">Thay đổi mật khẩu thành công</label>
          {{/if}}
        </div>
        <div class="modal-footer" style="justify-content: center;border-top: 0px">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Thay
            đổi</button>
          &nbsp;
        </div>
        

      </div>
    </div>
  </div>
</Form>