{{#section 'css'}}
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#formAdd').validate({
            rules: {
                tencm: {
                    required: true
                }
            },
            messages: {
                tencm: {
                    required: '&emsp;&emsp;&ensp;*Nhập chính xác tên chuyên mục con!'
                }
            },
            errorElement: 'p',
            errorClass: 'text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }

        })
    })
</script>

<script>
    $(document).ready(function () {
        $(":checkbox").click(function (event) {
            if ($('#cha').is(":checked")) {
                $('#Noidung').show();
                $('#LoaiChuyenMuc').hide();
            }
            else {
                $('#Noidung').show();
                $("#LoaiChuyenMuc").show();
            }


        });

    })
</script>
{{/section}}


<div>
    <div>
        <h1>Thêm chuyên mục</h1>
        <hr>
        <form method="POST" id="formAdd" action="">
            <div class="mb-5 col-md-5">
                <input type="checkbox" name="check1" id="cha"> Click vào đây nếu thêm chuyên mục cha
            </div>
            <div id="Noidung">
                <div id="LoaiChuyenMuc" class="col-md-5" style="margin-bottom: 20px">
                    <span class="col-md-4">
                        <label>Loại chuyên mục:</label>
                    </span>
                    <select name="cate" style="height: 35px; width:150px; border-radius:10px">
                        {{#each this.cate}}
                        <option value="{{idChuyenMuc}}">{{TenCM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="mt-2 col-md-12" style="display: flex; flex-wrap: nowrap; margin-left:50px">
                <input autofocus type="text" id="TenCM" name="tencm" class="form-control"
                    style="width:500px; border-radius:10px; margin-right:15px" placeholder="Tên chuyên mục mới...">
                <button class="btn btna btn-primary"
                    style="height:35px;background-color:#2A3F54; color:floralwhite; width:100px" type="submit"
                    id="Them">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Thêm</button>
            </div>


            <div style="">
                <a class="btn btna" href="/admin/QuanLiChuyenMuc"
                    style="margin-right:970px;height:35px;background-color:#2A3F54; color:floralwhite; width:100px; margin-top:30px"
                    type="button" id="Quaylai"><i  class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay lại</a>
            </div>
            </span>

        </form>
    </div>
</div>