<div class="">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fas fa-caret-square-right"></i></div>
                <div class="count">179</div>
                <h3>Lượt đăng ký mới</h3>
                <p>Số lượng đăng ký trong 1 tháng</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fas fa-comments"></i></div>
                <div class="count">1000</div>
                <h3>Lượt đăng nhập</h3>
                <p>Số lượng đăng nhập trong 1 tháng</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fas fa-download"></i></div>
                <div class="count">79</div>
                <h3>Lượt download</h3>
                <p>Số lượt download trong tuần qua</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fas fa-eye"></i></div>
                <div class="count">10000</div>
                <h3>Lượt xem bài</h3>
                <p>Số lượng người xem bài viết trong tuần</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Số lượng người đọc bài<small>Tổng kết hằng tuần</small></h2>
                    <div class="filter">
                        <div id="reportrange" class="pull-right"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fas fa-calendar"></i>
                            <span>January 1, 2019 - April 28, 2019</span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="demo-container" style="height:280px">
                            <div id="chart_plot_02" class="demo-placeholder"></div>
                        </div>
                        <div class="tiles">
                            <div class="col-md-4 tile">
                                <span>Tổng lượt xem</span>
                                <h2>2,310,323</h2>
                                <span class="sparkline11 graph" style="height: 160px;">
                                    <canvas width="200" height="60"
                                        style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                            <div class="col-md-4 tile">
                                <span>Tổng thu nhập</span>
                                <h2>$139,534</h2>
                                <span class="sparkline22 graph" style="height: 160px;">
                                    <canvas width="200" height="60"
                                        style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                            <div class="col-md-4 tile">
                                <span>Tổng lượt tải</span>
                                <h2>231,809</h2>
                                <span class="sparkline11 graph" style="height: 160px;">
                                    <canvas width="200" height="60"
                                        style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_title">
                                <h2>Top Phóng viên</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li> -->
                                    <li><a class="close-link"><i class="fas fa-times"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fas fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">HungLee</a>
                                        <p><strong>123</strong> Bài viết </p>
                                        <p> <small>7 bài xuất bản hôm nay</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fas fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">An Izzy</a>
                                        <p><strong>50 </strong> Bài viết </p>
                                        <p> <small>3 bài xuất bản hôm nay</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fas fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Hung An</a>
                                        <p><strong>46 </strong> Bài viết </p>
                                        <p> <small>6 bài xuất bản hôm nay</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>