
<!DOCTYPE html>
<html>

<head>
  <title>Báo Điện Tử TH16 &mdash; News </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">


  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap" id="home-section">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div style="height: 50px; display: flex;justify-content: space-between; padding-right:40px;margin-top: 10px; margin-left: 20px ">
      <a href="index.html"><img src="./images/avtTest.jpg" style="margin-left: 60px; margin-top: -30px;width: 28%;"></a>
      <span>
        <ul class="sign-in" style="display: flex;justify-content: center">
          <button  data-toggle="modal" data-target="#myModal" style="border: 0px; background-color: transparent">
            <li class="dropdown"><a href="#"><b>Đăng nhập</b><span class="mx-2"></span></a>
            </li>
          </button>
          <button data-toggle="modal" data-target="#myModal1" style="border: 0px; background-color: transparent">
            <li class="dropdown"><a href="#"><b>Đăng kí</b><span class="mx-2"></span></a>
            </li>
          </button>
          
        </ul>
      </span>

    </div>
     <!--Đăng nhập-->
     <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content" style="font-weight:bold">
              <!-- Modal Header -->
              <div
                  style="height: 50px; padding: 10px;text-align: center; background-image: linear-gradient(to bottom right,#00D2B5,rgb(74, 143, 134));color: white; font-weight: bold;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Thông tin đăng nhập</h4>
              </div>
              <br>
              <div style="margin :10px 30px">
                  <div style="display:flex; flex-direction:row">
                      <label for="TK" style="width:20%;">Tài khoản: </label> &nbsp;
                      <input id="TK" style=" border-radius:10px;width:80%" type="text">
                  </div>
                  <br>
                  <div style="display:flex; flex-direction:row">
                      <label for="pass" style="width:20%">Mật khẩu: </label> &nbsp; 
                      <input id="pass" style="border-radius:10px;width:80%" type="password">
                  </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer" style="justify-content: center;border-top: 0px">
                  <button type="button" style="border-radius: 7%; cursor: pointer;" ; background-image: linear-gradient(to bottom
                      right, rgb(209, 28, 28), rgb(233, 104, 18) /* Standard " class=" btn-danger"
                      data-dismiss="modal">Đăng
                      nhập</button> &nbsp;
              </div>
              <div style="display:flex ;justify-content: space-around ; margin-bottom: 20px">
                  <button style="border: 0px; background-color: transparent;cursor: pointer;" data-toggle="modal"
                      data-target="#myModal3"><u>Quên mật khẩu</u></button>
                  <button style="border: 0px; cursor: pointer; background-color: transparent" data-toggle="modal"
                      data-target="#myModal1" href="#"><u>Đăng kí</u></button>
              </div>
          </div>
      </div>
  </div>

  <!--Modal Quên mật khẩu-->
  <div class="modal fade" id="myModal3">
      <div class="modal-dialog">
          <div class="modal-content" style="font-weight:bold; height:300px">
              <div
                  style="height: 50px; padding: 10px;text-align: center; background-image: linear-gradient(to bottom right,#00D2B5,rgb(74, 143, 134));color: white; font-weight: bold;">
                  <button type="button" class="close" data-dismiss="modal" style="cursor: pointer;">&times;</button>
                  <h4 class="modal-title">Quên mật khẩu</h4>
              </div>
              <div style="margin :10px 30px;">
                  <div style="display:flex; flex-direction:column">
                      <label for="mail" style="width:100%;">Email: </label> 
                      <input id="mail" style="border-radius:10px;width:100%" type="email">
                      <p style="margin-top: 0px;color:red">Hãy dùng email thật của bạn để nhận mật khẩu mới</p>
                  </div>

              </div>
              <div class="modal-footer" style="justify-content: center;border-top: 0px">
                  <button type="button" style="border-radius: 7%;cursor: pointer;" ; background-image: linear-gradient(to bottom
                      right, rgb(209, 28, 28), rgb(233, 104, 18); /* Standard " class=" btn-danger"
                      data-dismiss="modal">Gửi</button>
                  &nbsp;
              </div>
          </div>
      </div>
  </div>

  <!--Modal Đăng kí-->
  <div class="modal fade" id="myModal1">
      <div class="modal-dialog">
          <div class="modal-content" style="font-weight:bold;width:550px">

              <div
                  style="height: 50px; padding: 10px;text-align: center; background-image: linear-gradient(to bottom right,#00D2B5,rgb(74, 143, 134));color: white; font-weight: bold;">
                  <button type="button" class="close" data-dismiss="modal" style="cursor: pointer;">&times;</button>
                  <h4 class="modal-title">Thông tin đăng kí</h4>
              </div>
              <div style="margin :10px 30px">
                  <div style="display:flex; flex-direction:column">
                      <label for="ten" style="width:100%;">Email: </label>
                      <input id="ten" style="border-radius: 10px;margin-top:-10px;width:100%" type="email">
                      <br>
                      <p style="margin-top: -30px;color:red">Hãy dùng email thật của bạn để nhận liên kết kích
                          hoạt</p>
                  </div>
                  <br>
                  <div style="display:flex; flex-direction:column; margin-top:-30px">
                      <label for="TK" style="width:100%;">Họ và tên: </label>
                      <input id="TK" style="border-radius: 10px;margin-top:-10px; width:100%" type="text">
                  </div>
                  <br>
                  <div style="display:flex; flex-direction:column">
                      <label for="TK" style="width:100%;">Ngày sinh: </label>
                      <input id="TK" style="border-radius: 10px;margin-top:-9px; width:100%" type="date">
                  </div>
                  <br>
                  <div style="display:flex; flex-direction:column">
                      <label for="pass" style="width:100%">Mật khẩu: </label>
                      <input id="pass" style="border-radius: 10px;margin-top:-10px;width:100%" type="password">
                  </div>
                  <br>
                  <div style="display:flex; flex-direction:column">
                      <label for="pass" style="width:100%">Nhập lại mật khẩu: </label>
                      <input id="pass" style="border-radius: 10px;margin-top:-10px;width:100%" type="password">
                  </div>
                  <br>
                  <div>
                      <label>
                          <input type="checkbox" style="cursor: pointer;">&nbsp;&nbsp; <u>Tôi đồng ý với quy định của toà soạn</u>
                      </label>
                  </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer" style="justify-content: center;margin-top:0px;border-top: 0px">
                  <button type="button" style=" width:140px;border-radius: 7%;cursor: pointer;" ; background-image:
                      linear-gradient(to bottom right, rgb(209, 28, 28), rgb(233, 104, 18); /* Standard " class="
                      btn-danger" data-dismiss="modal">Đăng
                      kí</button> &nbsp;
              </div>
          </div>
      </div>
  </div>    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row justify-content-center">

          <div class="col-6 col-md-6 col-xl-2  d-block d-lg-none">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><b>Báo Điện Tử HungAn</b></a></h1>
          </div>

          <!-- menu -->
          <div class="col-12 col-md-10 main-menu">
            <nav class="site-navigation position-relative text-center" role="navigation">
              <ul class="site-menu main-menu js-clone-nv mr-auto d-none d-lg-block">
                <li><a href="tc" class="nav-link active"><b>Trang chủ</b></a></li>
                
                {{#each ChuyenMuc}} 
                  <li class="dropdown"><a href="#" class="nav-link"><b>{{TenCM}}</b></a>
                      <div class="dropdown-content">
                      <a href="NongSan.html"><b>Nông sản</b></a>
                      <a href="HaiSan.html"><b>Hải sản</b></a>
                      </div>
                  </li>
                {{/each}}            
                <li>
                  <div class="search-container h-100">
                    <div class="d-flex justify-content-center h-100">
                      <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-6 col-md-6 d-inline-block d-lg-none ml-md-0"><a href="#"
              class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
    </header>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h6 class="section-title mb-3">Bài viết nổi bật trong tuần</h6>
          </div>
        </div>
        <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            {{!-- <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images\bts.png" alt="Los Angeles" class="img-top">
                <div class="carousel-caption">
                  <h4><a href="VanToanToaSang.html" class="text-white"><b>MV mới của BTS phá kỉ lục của BLACKPINK <br>
                        trở thành MV có
                        nhiều lướt xem nhất</b></a></h4>
                  <p>Chuyên mục: Âm nhạc</p>
                </div>
              </div>

              <div class="carousel-item">
                <img src="http://www.xaluan.com/images/news/Image/2019/04/27/15cc4200f0f4be.img.jpg" alt="Chicago"
                  class="img-top">
                <div class="carousel-caption">
                  <h3><a href="VanToanToaSang.html" class="text-white"><b>Văn Toàn tỏa sáng, HAGL <br>đánh bại Quảng
                        Ninh trong cuộc rượt
                        đuổi<br> nghẹt thở</b></a></h3>
                  <p>Chuyên mục: Thể thao</p>
                </div>
              </div>

              <div class="carousel-item">
                <img src="http://img.f8.bdpcdn.net/Assets/Media/2019/04/22/26/pogba.jpg" class="img-top">
                <div class="carousel-caption">
                  <h3><a href="VanToanToaSang.html" class="text-white"><b>M.U 2-1 West Ham: Cú đúp penalty của<br> Pogba
                        cứu rỗi Quỷ
                        đỏ</b></a></h3>
                  <p>Chuyên mục: Bóng đá</p>
                </div>
              </div>
            </div> --}}

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    {{{body}}}

    
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>

  
  <script>
      $(document).ready(function(){
        $("#login").click(function(){
          var user = $("#TK").val();
          var pass = $("#pass").val();
          if(user == "user" && pass == "1")
          {
            $(location).attr('href', 'Doc_gia/index.html');
          }
          if(user =="writer" && pass =="1")
          {
            $(location).attr('href', 'Writer/index.html');
          }
        })
      })
    </script>

 
</body>
</html>
