{{#section 'css'}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css">
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>

<script
    src="https://cdn.tiny.cloud/1/c3n6lu13jap2ehdz800xbmrmucezhjkqbjyfs2ps60jbgn4z/tinymce/5/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#txtEditor',
            height: 600,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media code',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist', 'code'
            ]
        });
    })
</script>

<script>
    function Choose() {
        var choose = document.getElementById("txtChoose");
        var chosen = document.getElementById("txtChosen");
        var options = choose.children;
        var tmp = [];

        for (var i = 0; i < options.length; i++) {
            if (options[i].selected) {
                tmp.push(options[i]);
            }
        }

        for (var i = 0; i < tmp.length; i++) {
            chosen.appendChild(tmp[i]);
        }

        for (var i = 0; i < chosen.length; i++) {
            chosen[i].selected = false;
        }
    }

    function Unchoose() {
        var choose = document.getElementById("txtChosen");
        var chosen = document.getElementById("txtChoose");
        var options = choose.children;
        var tmp = [];

        for (var i = 0; i < options.length; i++) {
            if (options[i].selected) {
                tmp.push(options[i]);
            }
        }

        for (var i = 0; i < tmp.length; i++) {
            chosen.appendChild(tmp[i]);
        }

        for (var i = 0; i < chosen.length; i++) {
            chosen[i].selected = false;
        }
    }
</script>
<script>
    function ShowImg() {
        var a = document.getElementById("abc");
        var b = document.getElementById("cba");
        if (a.style.display == 'none') {
            a.style.display = 'block';
            b.style.display = 'none'
        }
        else if (a.style.display == 'block') {
            a.style.display = 'block';
            b.style.display = 'none'
        }
    }
    function ShowImg2() {
        var a = document.getElementById("abc");
        var b = document.getElementById("cba");
        if (b.style.display == 'none') {
            b.style.display = 'block';
            a.style.display = 'none'
        }
        else if (b.style.display == 'block') {
            b.style.display = 'block';
            a.style.display = 'none'
        }
    }
</script>
{{/section}}
<div class="site-section">
    <div class="big-title text-center text-black">
        <h3><b>Đăng bài viết</b></h3>
    </div>
    {{#if isSuccess}}
    <div class="text-center mt-4" style="color: red">
        <h4>Đăng bài thành công!</h4>
    </div>
    {{/if}}
    <div class="col-md-12 mt-5">
        <form method="POST" name="frmMain">
            <div class="col-md-12" style="padding-left: 10%">
                <div class="d-flex flex-wrap col-md-12 mb-3">
                    <span class="col-lg-2">
                        <label for="txtTitle">
                            <b class="text-black">Tiêu đề bài báo:&nbsp;</b>
                        </label>
                    </span>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="txtTitle" id="txtTitle" style="width:825px">
                    </div>
                </div>

                <div class=" d-flex flex-wrap col-md-12 mb-3">
                    <span class="col-md-2">
                        <label for="txtSummary">
                            <b class="text-black">Tóm tắt:&nbsp;</b>
                        </label>
                    </span>
                    <div class="col-md-9">
                        <textarea class="form-control" name="summary" id="txtsummary" rows="4" cols="60"></textarea>
                        {{!-- <input type="text" name="txtSummary" id="txtSummary" style="width:500px; height: 100px"> --}}
                    </div>
                </div>

                <div class=" d-flex flex-wrap col-md-12">
                    <span class="col-md-2">
                        <label for="">
                            <b class="text-black">Ảnh đại diện:&nbsp;</b>
                        </label>
                    </span>
                    <div class="col-md-9">
                        <input class="form-control" name="img" id="txtLinkimg" type="text" style="width:830px;"></input>
                    </div>
                </div>
                {{!-- <div class="col-12 mt-3">
                    <div class="col-md-12" style="padding-left:18%; padding-right:10%; display:none" id="abc">
                        <div class="col-md-5 file-loading">
                            <input class="form-control" name="img" id="txtImg" type="file"></input>
                        </div>
                    </div>
                    <div class=" col-md-12" style="padding-left:17%; padding-right:10%; display:none" id="cba">
                        <span class="col-md-2">
                            <label for="">
                                <b class="text-black">Dẫn đường link ảnh:&nbsp;</b>
                            </label>
                        </span>
                        <div class="col-md-10">
                            <input class="form-control" name="img" id="txtLinkimg" type="text"
                                style="width:500px;"></input>
                        </div>
                    </div>
                </div> --}}
            </div>

            <br>
            <div class="body-for-writing">
                <textarea name="editor" id="txtEditor" rows="10" cols="80"></textarea>
            </div>
            <div class="div-tong d-flex flex-nowrap">
                <div class="select-CM col-md-4">
                    <label class="col-md-6">Chọn chuyên mục: &nbsp;</label>
                    <select class="choose-cbx form-control" name="optTenCM">
                        {{#each cat}}
                        <option value="{{idChuyenMuc}}" type="text">{{TenCM}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Chọn thẻ tag: &nbsp;</label>
                    <div class="txt-tag">
                        <div class="cbx-option-mul ">

                            <select class="form-control" multiple="multiple" id="txtChoose" name="choose"
                                style="width:250px; height:200px">
                                {{#each tag}}
                                <option value="{{idTag}}">{{tenTag}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="Button">
                            <input type="button" id="btnChoose" onclick="Choose()" value=">">
                            <input type="button" id="btnUnchoose" onclick="Unchoose()" value="<">
                        </div>
                        <div>
                            <select class="form-control" multiple="multiple" id="txtChosen" name="txtChosen"
                                style="width:250px; height:200px">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-5 ">
                <button class="btn btn-btn" type="submit"><b>Đăng bài</b></button>
            </div>
        </form>
    </div>

</div>