{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
    $('#registerForm').validate({
      rules: {
        email: {
          required: true,
          email: true,
          remote: {
            url: '/account/is-available'
          }
        },
        fullName: {
          required: true,

        },
        password: {
          required: true,
          minlength: 6
        },
        dob: {
          required: true,

        },
        confirm: {
          required: true,
          equalTo: $('[name="password"]')
        }
      },
      messages: {
        email: {
          required: 'Nhập chính xác địa chỉ email.',
          email: 'Nhập chính xác địa chỉ email.',
          remote: 'Email này đã tồn tại.'
        },
        fullName: {
          required: 'Nhập tên.',
        },
        password: {
          required: 'Yêu cầu nhập password.',
          minlength: 'Mật khẩu của bạn ít nhất 6 kí tự.'
        },
        confirm: {
          required: 'Nhập lại Password.',
          equalTo: 'Password không giống nhau.'
        },
        dob: {
          required: 'Nhập ngày sinh.'

        }

      },

      errorElement: 'small',
      errorClass: 'col help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }

    });
  })

  $('#txtdate').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
</script>
{{/section}}
<form novalidate action="" method="POST" id="registerForm">
  <div style="padding-top:100px" class="container col-md-5 text-black">
    <div class="shadow mb-5 bg-white rounded ">
      <div
        style="height: 50px; padding: 10px;text-align: center; background-image: linear-gradient(to bottom right,#00D2B5,rgb(74, 143, 134));color: white; font-weight: bold;">
        <h4>Thông tin đăng kí</h4>
      </div>
      <div style="margin :10px 30px">
        <div style="display:flex; flex-direction:column">
          <label for="ten" style="width:100%;">Email: </label>
          <input id="ten" name="email" class="form-control" style="margin-top:-10px;width:100%" type="email" autofocus>
        </div>
        <br>
        <div style="display:flex; flex-direction:column">
          <label for="txtUsername">Họ và tên</label>
          <input type="text" class="form-control" style="margin-top:-10px" id="txtUsername" name="fullName">
        </div>
        {{#if writer}}
        <br>
        <div style="display:flex; flex-direction:column">
          <label for="butdanh">Bút danh</label>
          <input type="text" class="form-control" style="margin-top:-10px" id="butdanh" name="butdanh">
        </div>
       
        {{/if}}
         </br>
        {{#if iseditor }}
        <label></label>
        <select id="allSelect" name="CMQuanLi" style="margin-left: 30px; height: 30px; width:200px">
          <option id="selectAllCM">Chọn chuyên mục quản lí</option>
          {{#each this.chuyenMuc}}
          <option value="{{idChuyenMuc}}">{{TenCM}}</option>
          {{/each}}
        </select>
        {{/if}}
        <br>
        <div class="form-group">
          <label for="txtdate">Ngày sinh</label>
          <input type="text" class="form-control" id="txtdate" name="dob">
        </div>

        <br>
        <div style="display:flex; flex-direction:column">
          <label for="pass" style="width:100%">Mật khẩu: </label>
          <input id="pass" type="password" style="margin-top:-10px;width:100%" class="form-control" name="password">
        </div>
        <br>
        <div style="display:flex; flex-direction:column">
          <label for="Confirm" style="width:100%">Nhập lại mật khẩu: </label>
          <input type="password" class="form-control" id="Confirm" style="margin-top:-10px;width:100%" name="confirm">
        </div>

      </div>
      <div class="text-center " style="justify-content: center;padding-top:10px;border-top: 0px">
        <button type="submit" style=" width:140px;border-radius: 7%;cursor: pointer;" class="mb-3 btn-danger">Thêm tài
          khoản
        </button>
      </div>

    </div>

  </div>
</form>