{{#section 'css'}}
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#formAdd').validate({
            rules: {
                TenTag: {
                    required: true,
                    remote: {
                        url: '/isValidate'
                    }
                }
            },
            messages: {
                TenTag: {
                    required: 'Nhập chính xác nhãn tag!'
                }
            },
            errorElement: 'p',
            errorClass: 'text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }

        })
    })
</script>
{{/section}}


{{#if this.check}}
<form id="formAdd" method="POST">
    <h1>Thêm thẻ tag </h1>
    <hr>
    <div class="col-md-12" style="display: flex; flex-wrap: nowrap; margin-left:25%">
        <input name="TenTag" type="text" style="width: 35%; border-radius:10px; margin-right:10px" class="form-control" placeholder="Nhập tên tag mới tại đây">
        <button type="submit" class="btn btn-danger"> <i class="fas fa-plus"></i> Thêm</button>
    </div>
    <div class="col-md-12" style="display: flex; justify-content:start; margin-top:10px; margin-bottom:10px">
        <button class="btn btn-danger"><a style="color: white" href="/admin/QuanLiTheTag"> <i
                    class="fas fa-backward"></i> Quay lại</a></button>
    </div>

</form>
{{else}}
<form id="formAdd" method="POST" action="/admin/QuanLiTheTag/edit">
    <h1>Chỉnh sửa thẻ tag </h1>
    <hr>
    <div class="col-md-12" style="display: flex; flex-wrap: nowrap;">
        <label>ID:</label>
        <input name="id" readonly value="{{this.tag.idTag}}" style="width: 10%; border-radius:10px;" class="form-control">
        <input name="TenTag" value="{{this.tag.tenTag}}" type="text" style="width: 35%; border-radius:10px; margin-right:10px; margin-left:15%" class="form-control">
        <button type="submit" class="btn btn-danger"> <i class="fas fa-file-download"></i> Lưu lại</button>
    </div>
    <div class="col-md-12" style="display: flex; justify-content:start; margin-top:10px; margin-bottom:10px">
        <button class="btn btn-danger"><a style="color: white" href="/admin/QuanLiTheTag" ><i
                    class="fas fa-backward"></i> Quay lại</a></button>
    </div>
</form>
{{/if}}