.img-small{
    width: 70px;
    height: 50px;
    margin-right: 15px;
}

.text-small{
    font-size: 14px;
    line-height: 24px;
    color: black !important;
    
}
.text-small:hover{
    color: red !important;
}

.div-big{
    padding: 20px; 
    text-align: center;
    box-shadow: 2px 2px 3px 3px gray
}
.div-small{
    display: flex;
    align-items:flex-start; 
    text-align: left;
}
.Hungscontainer
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    margin-top:50px;
    width:70%;
    justify-content: flex-end;
    margin-left:130px;
    color:black;
    padding: 10px;
    box-shadow: 2px 2px 3px 3px gray
}