/* phan trang */
.pagination {
  
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .pagination li {
    display: inline;
    text-align: center;
    padding: 5px;
  }
  .pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 12px;
    color: black;
    margin-left: -1px;
    border: 0px solid transparent !important;
    border-radius: 100% !important;
    line-height: 1.5;
  }
  .pagination a.active {
    cursor: default;
  }
  .pagination a:active {
    outline: none;
  }
  .modal-3 a {
    margin-left: 3px; 
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .modal-3 a:hover {
    background-color: #6aa59d;
    color: white;
  }
  .modal-3 a.active, .modal-3 a:active {
    background-color: #6aa59d;
    color: white;
  }
/* phan trang */

.status{
  border: none;
  background-color: transparent;
}

.modal-dialog{
  width: 400px;
}

.modal-dialog-rewrite{
  margin: auto;
  width: 50%;
}

.modal-dialog-giahan{
  margin: auto;
  width: 15%;
  margin-top: 100px;
}

.text-black{
  color: black;
}

thead{
  background-color: #6aa59d;
  color: white;
}

.btn{
  float: right;
}

.btna{
  height:35px;
  background-color:#D9534F;
   color:white; 
  width:100px;
}

.btna:hover{
  background-color:rgb(223, 39, 32);
  color:white; 
}

.btn-save{
 background-color: #D9534F;
 color: white;
}

.btn-save:hover{
  background-color: #C83633;
  color: white;
}

.btnsaved{
  color: white;
  background-image: linear-gradient(to right, #6aa59d, #359c8f);
}

.btnsaved:hover{
  color: black;
}

#GiahanDate{
  margin-left: 13px;
}

.modal-footer{
  display: flex;
  justify-content: space-around;
}

#txtName,#txtEmail,#txtDate, #txtUsername, #oldpassword, #newPassword, #re-newPassword{
  width:300px;
  border-radius: 10px;
}
#txtName:focus, #txtEmail:focus, #txtDate:focus, #txtUsername:focus,#oldpassword:focus, #newPassword:focus, #re-newPassword:focus{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(216, 215, 215);
}

input{
  margin-left: 30px;
}

.infor{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}



.btnsave{
  margin-top: 30px;
margin-left: 500px;
  width: 50px;
}

.infor-2{
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.red{
  color: rgb(235, 32, 29)
}

#myModal-detail{
  margin: auto;
  width: 50%;
  margin-top: 100px;
}