<div class="main_container">
      <div role="main">
        <div class="">
          <div style="display: flex; justify-content: space-between ; border-bottom: 1px solid white">

            <span style="width: 30%;">
              <div style="text-align: center; padding-top: 6px;">
                <a href="Editor.html"><h3 style="color:white;"><b>Biên tập viên</b></h3></a>
                            </div>
            </span>
            <span style="width: 40%;">
              <div style="padding-top:13px;" class=" form-group  top_search">
                <div class="input-group">
                  <input type="text" style="height:30px;" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button style="height:30px;" class="btn btn-default" type="button"><i
                        class="fas fa-search"></i></button>
                  </span>
                </div>
              </div>


            </span>

            <span style="width: 30%;">
              <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" style="display:flex;justify-content:center;margin-top: 10px; border: 0px; background-color: transparent" data-toggle="dropdown"><i class="fas fa-user-tie"></i>&nbsp;&nbsp; Việt An
                  </a>
                <ul class="dropdown-menu" style="margin-left:150px;" >
                  <li><a href="CapNhatThongTin.html">Cập nhật thông tin</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#myModal3">Thay đổi mật khẩu</a></li>
                  <li><a href="../Đăng nhập/sign-in.html">Đăng xuất</a></li>
                </ul>
              </div>
            </span>

          </div>
           <!--đổi pass-->
           <div class="modal fade" id="myModal3">
            <div class="modal-dialog">
                <div class="modal-content" style="font-weight:bold">
                    <div style="height: 50px; padding: 10px;text-align: center; background-image: linear-gradient(to bottom right,#00D2B5,rgb(74, 143, 134));color: white; font-weight: bold;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thay đổi mật khẩu</h4>
                      </div>
                      <div style="margin :10px 30px;" >
                          <div style="display:flex; flex-direction:column">
                            <label  style="width:100%;">Mật khẩu cũ: </label>
                            <input  style="border-radius: 10px;width:100%" type="password">
                          </div>
                          <br>
                          <div style="display:flex; flex-direction:column">
                              <label  style="width:100%">Mật khẩu mới: </label>
                              <input  style="border-radius: 10px;width:100%" type="password">
                          </div>
                          <br>
                          <div style="display:flex; flex-direction:column">
                              <label  style="width:100%">Nhập lại mật khẩu mới: </label>
                              <input  style="border-radius: 10px;width:100%" type="password">
                          </div>                
                      </div>
                    <div   style="text-align: center; padding: 10px ; border-top: 0px">
                      <button type="button" style=" border-radius: 7%" ;
                      class="btn-danger" data-dismiss="modal">Thay đổi</button> &nbsp; 
                    </div>
                </div>
            </div>
        </div>
    
    
          <div class="row" style="padding-left:20px; padding-right: 20px; margin-top: 20px">
            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Danh sách các bài viết</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                        &nbsp;<i class="fas fa-plus-circle"></i></a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="table" class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th style="width: 400px;">Tên bài viết</th>
                        <th>Ngày đăng</th>
                        <th>Tác giả</th>
                        <th>List tag</th>
                        <th>Chuyên mục</th>
                        <th style="text-align: center">Option</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="cursor: pointer;" data-href="..\VanToanToaSang.html">
                        <th scope="row">1</th>
                        <td  id="name">Sơn Tùng M-TP "ló dạng" bằng hit cũ sau gần 1 năm “chơi trốn tìm” với khán giả:
                          Bước lùi hay
                          ủ mưu?</td>
                        <td> 14/04/2019 19:00:20 PM</td>
                        <td>Lê Hưng</td>
                        <td>
                          <ul id="ULTag" style="list-style:none; padding-left: 0px;">
                            <li rel="Bóng đá trong nước">Bóng đá trong nước</li>
                            <li rel="Bóng đá nước ngoài">Bóng đá nước ngoài</li>
                          </ul>
                        </td>
                        <td>Âm nhạc quốc tế</td>
                        <td style="display:flex; flex-direction:row; justify-content: space-around">
                          <button style="border: none; background-color: transparent" id="btn" class="btnSelect"
                            data-toggle="modal" data-target="#myModal"><i class="fas fa-user-check"></i></button>
                          <button style="border: none; background-color: transparent" data-toggle="modal" data-target="#myModal1"><i
                              class="fas fa-user-times"></i></button>
                        </td>
                      </tr>
                      <tr style="cursor: pointer;" data-href="..\VanToanToaSang.html">
                        <th scope="row">2</th>
                        <td id="name">
                          Mặc Youtube trừ view oan ức, BTS vẫn hiên ngang phá vỡ kỉ lục MV đạt 100 triệu lượt xem nhanh nhất thế giới của BLACKPINK!</td>
                        <td> 13/02/2019 19:00:20 PM</td>
                        <td>Viet An</td>
                        <td>
                          <ul id="ULTag" style="list-style:none; padding-left: 0px;">
                            <li rel="Âm nhạc trong nước">Âm nhạc trong nước</li>
                            <li rel="Âm nhạc quốc tế">Âm nhạc quốc tế</li>
                          </ul>
                        </td>
                        <td>Âm nhạc quốc tế</td>
                        <td style="display:flex; flex-direction:row; justify-content: space-around">
                          <button style="border: none; background-color: transparent" id="btn" class="btnSelect"
                            data-toggle="modal" data-target="#myModal"><i class="fas fa-user-check"></i></button>
                          <button style="border: none; background-color: transparent" data-toggle="modal" data-target="#myModal1"><i
                              class="fas fa-user-times"></i></button>
                        </td>
                      </tr>
                      <tr style="cursor: pointer;" data-href="..\VanToanToaSang.html">
                        <th scope="row">3</th>
                        <td id="name">
                          Mặc Youtube trừ view oan ức, BTS vẫn hiên ngang phá vỡ kỉ lục MV đạt 100 triệu lượt xem nhanh nhất thế giới của BLACKPINK!</td>
                        <td> 13/02/2019 19:00:20 PM</td>
                        <td>Viet An</td>
                        <td>
                          <ul id="ULTag" style="list-style:none; padding-left: 0px;">
                            <li rel="Âm nhạc trong nước">Âm nhạc trong nước</li>
                            <li rel="Âm nhạc quốc tế">Âm nhạc quốc tế</li>
                          </ul>
                        </td>
                        <td>Âm nhạc quốc tế</td>
                        <td style="display:flex; flex-direction:row; justify-content: space-around">
                          <button style="border: none; background-color: transparent" id="btn" class="btnSelect"
                            data-toggle="modal" data-target="#myModal"><i class="fas fa-user-check"></i></button>
                          <button style="border: none; background-color: transparent" data-toggle="modal" data-target="#myModal1"><i
                              class="fas fa-user-times"></i></button>
                        </td>
                      </tr>
                      <tr style="cursor: pointer;" data-href="..\VanToanToaSang.html">
                        <th scope="row">4</th>
                        <td id="name">
                          Mặc Youtube trừ view oan ức, BTS vẫn hiên ngang phá vỡ kỉ lục MV đạt 100 triệu lượt xem nhanh nhất thế giới của BLACKPINK!</td>
                        <td> 13/02/2019 19:00:20 PM</td>
                        <td>Viet An</td>
                        <td>
                          <ul id="ULTag" style="list-style:none; padding-left: 0px;">
                            <li rel="Âm nhạc trong nước">Âm nhạc trong nước</li>
                            <li rel="Âm nhạc quốc tế">Âm nhạc quốc tế</li>
                          </ul>
                        </td>
                        <td>Âm nhạc quốc tế</td>
                        <td style="display:flex; flex-direction:row; justify-content: space-around">
                          <button style="border: none; background-color: transparent" id="btn" class="btnSelect"
                            data-toggle="modal" data-target="#myModal"><i class="fas fa-user-check"></i></button>
                          <button style="border: none; background-color: transparent" data-toggle="modal" data-target="#myModal1"><i
                              class="fas fa-user-times"></i></button>
                        </td>
                      </tr>
                      <tr style="cursor: pointer;" data-href="..\VanToanToaSang.html">
                        <th scope="row">5</th>
                        <td id="name">Sơn Tùng M-TP "ló dạng" bằng hit cũ sau gần 1 năm “chơi trốn tìm” với khán giả:
                          Bước lùi hay
                          ủ mưu?</td>
                        <td> 14/04/2019 19:00:20 PM</td>
                        <td>Lê Hưng</td>
                        <td>
                          <ul id="ULTag" style="list-style:none; padding-left: 0px;">
                            <li rel="Bóng đá trong nước">Bóng đá trong nước</li>
                            <li rel="Bóng đá nước ngoài">Bóng đá nước ngoài</li>
                          </ul>
                        </td>
                        <td>Âm nhạc quốc tế</td>
                        <td style="display:flex; flex-direction:row; justify-content: space-around">
                          <button style="border: none; background-color: transparent" id="btn" class="btnSelect"
                            data-toggle="modal" data-target="#myModal"><i class="fas fa-user-check"></i></button>
                          <button style="border: none; background-color: transparent" data-toggle="modal" data-target="#myModal1"><i
                              class="fas fa-user-times"></i></button>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div
                  style="padding: 10px; background-color: #2A3F54;color: white; font-weight: bold; display:flex; flex-direction:row; justify-content: space-between">
                  <h4 class="modal-title">Hiệu chỉnh thông tin</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="color:black">
                  <div style="display: flex; flex-direction:row">
                    <div style="width: 50%">
                      <h3><u>Chuyên mục</u></h3>
                      <select id="type" style="width: 100%; height: 30px; ">
                        <option value="Bóng đá trong nước">Bóng đá trong nước</option>
                        <option value="Âm nhạc quốc tế">Âm nhạc quốc tế</option>
                        <option value="Fashion-Mặc gì">Fashion-Mặc gì</option>
                        <option value="Âm nhạc trong nước">Âm nhạc trong nước</option>
                        <option value="Giáo dục">Giáo dục</option>
                        <option value="Tuyển sinh">Tuyển sinh</option>
                      </select>
                    </div>
                    <br><br>
                    <div style="width: 50%; margin-left: 10px">
                      <h3><u>Thời điểm xuất bản</u></h3>
                      <input style="width:100%; height: 30px;" type="date">
                    </div>
                  </div>
                  <div style=" width: 100%">
                    <h3><u>Danh sách nhãn</u></h3>
                    <div>
                      <span>
                        <ul id="Tag">
                          <li><input type="checkbox"  value="Bóng đá trong nước">Bóng đá trong nước</li>
                          <li><input type="checkbox" class="abc" value="Tuyển sinh">Tuyển sinh</li>
                          <li><input type="checkbox" value="Bóng đá nước ngoài">Bóng đá nước ngoài</li>
                          <li><input type="checkbox" value="Giáo dục">Giáo dục</li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Lưu</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div
                  style="padding: 10px; background-color: #2A3F54;color: white; font-weight: bold; display:flex; flex-direction:row; justify-content: space-between">
                  <h4 class="modal-title">Lý do</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div>
                  <textarea style="width: 97%;   margin: 10px; height:150px; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08)" placeholder="Vui lòng nhập lí do để phóng viên chỉnh sửa..." ></textarea>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Lưu</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>